<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}Telebble{% endblock %}</title>
    <meta name='robots' content='noindex, nofollow' />
    <meta name='author' content='Ford Peprah' />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1' />
    {% block javascript %}{% endblock %}
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,900' />
    <link rel='stylesheet' type='text/css' href='static/stylesheets/pebble.css' />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
