{% extends "_layout.html" %}
{% block javascript %}
  <script type='text/javascript' src='//code.jquery.com/jquery-2.1.4.min.js'></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <script type='text/javascript' src='static/javascript/dropdown.js'></script>
  <script type='text/javascript' src='static/javascript/qs.js'></script>
  <script type='text/javascript' src='static/javascript/pebble.js'></script>
{% endblock %}
{% block stylesheets %}
  <link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' />
  <link rel='stylesheet' type='text/css' href='static/stylesheets/spinner.css' />
{% endblock %}
{% block content %}
  <div class='container'>
    <div class='header'>
      <div class='left'>
        <h1>Telebble</h1>
      </div>
      <div class='right'>
        <div class='right sr-nav' data-type='dropdown' data-target='#dropdown-menu'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </div>
      </div>
      <div class='clear'></div>
      <ul id='dropdown-menu'>
        <li><a href='#add'>Add Shows</a></li>
        <li><a href='#my-list'>My Subscriptions</a></li>
        <li><a href='#settings'>Settings</a></li>
      </ul>
    </div>
    <div class='content'>
      <div id='add'>
        <div class='search-row'>
          <input id='search' class='search-text' type='text' placeholder='Search for a Series...' />
        </div>
        <div id='search-results' class='series-list'></div>
        <div id='results-indicator' class='results-indicator' style='display: none'>
          <i class='fa fa-times-circle-o'></i>
        </div>
        <div id='tap-indicator' class='tap-indicator' style='display: none'>
          <i class='fa fa-plus-circle'></i>
        </div>
      </div>
      <div id='my-list'>
        <div class='centered bordered' style='margin-bottom: 20px'>
          <h2>My Subscriptions</h2>
        </div>
        <div id='subscriptions-list' class='series-list'></div>
      </div>
      <div id='settings'>
        <div class='centered bordered' style='margin-bottom: 10px'>
          <h2>Settings</h2>
        </div>
        <div id='settings-list'>
          <div class='setting' data-settings-type='crunchyroll_premium'>
            <h3>Crunchyroll Premium</h3>
            <span class='checkbox' data-type='checkbox'></span>
          </div>
          <div class='setting' data-settings-type='funimation_premium'>
            <h3>Funimation Premium</h3>
            <span class='checkbox' data-type='checkbox'></span>
          </div>
        </div>
      </div>
    </div>
    <div id='templates' style='display none'>
      <script id='series-template' type='text/template'>
        <div id='series-<%= id %>' class='series' data-id='<%= id %>'
             <% if (latest) { %>data-latest-id='<%= latest.id %>'<% } %>>
          <!-- Series information -->
          <div class='block'>
            <div class='block'>
              <h2><%= name %></h2>
            </div>
            <div class='block'>
              <% if (network.name == 'Crunchyroll') { %>
                <div class='network yellow'><%= network.name %></div>
              <% } else if (network.name == 'Funimation') { %>
                <div class='network red'><%= network.name %></div>
              <% } else { %>
                <div class='network teal'><%= network.name %></div>
              <% } %>
              <div class='country blue'>
                <% if (network.name == 'Crunchyroll') { %>
                  All Countries
                <% } else { %>
                  <%= network.country %>
                <% } %>
              </div>
            </div>
          </div>
          <hr/>
          <% if (description.length > 200) { %>
            <p class='description description-short'>
              <%= description.substring(0, 200) %>...
            </p>
            <p class='description description-long' style='display: none'>
              <%= description %>
            </p>
          <% } else { %>
            <p class='description description-long'><%= description %></p>
          <% } %>
          <hr/>
          <div class='block' style='width: 100%'>
            <div class='padded left'>
              <strong>Latest Episode: </strong>
              <span>
                <% if (latest) { %>
                  <% if (latest.name && latest.name.length) { %>
                    <%= latest.name.substring(0, Math.min(20, latest.name.length)) %>
                  <% } else { %>
                    Season <%= latest.season %> - Episode <%= latest.number %>
                  <% } %>
                  |
                  <%= latest.air_date %>
                <% } else { %>
                  None
                <% } %>
              </span>
            </div>
            <div class='padded right'>
              <% if (user_token) { %>
                <a class='btn light' data-type='subscribe'>
                  <% if (subscribed) { %>Unsubscribe<% } else { %>Subscribe<% } %>
                </a>
              <% } %>
            </div>
            <div class='clear'></div>
          </div>
        </div>
      </script>
    </div>
  </div>
  <div id='spinner' class='overlay' style='display: none'>
    <div class='loader'>Loading</div>
  </div>
  <div id='error-overlay' class='overlay' style='display: none'>
    <div class='error'>Error Processing Request</div>
  </div>
{% endblock %}
